<md-toolbar class="md-hue-2">
   <div class="md-toolbar-tools">
      <span>Reservations</span>
      <span flex></span>
   </div>
</md-toolbar>

<md-content>
   <md-list flex>
      <md-divider></md-divider>
         <md-list-item class="md-3-line" ng-repeat="item in rsvs" ui-sref="evtDetail({evtId:{{item.evtId}}})">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>
               <div class="md-list-item-text" layout="column">
                  <span flex></span>
                  <h3 style="font-weight: bold">{{item.title}}</h3>
                  <h3 style="font-style: italic">
                     {{item.date | date:'medium'}}
                  </h3>
                  <p>{{item.descr}}</p>
                  <md-divider></md-divider>
         </md-list-item>   
               </div>
            <span flex> 
            </span>

            <md-button ng-init="g = 'Going'" ng-disabled="checkRsv($index, g)" 
                        class="md-primary md-raised" 
                        ng-click="changeMyRsv($index, g)">{{g}}</md-button>
            <md-button ng-init="m = 'Maybe'" ng-disabled="checkRsv($index, m)" 
                        class="md-secondary-button md-raised" 
                        ng-click="changeMyRsv($index, m)">{{m}}</md-button>
            <md-button ng-init="n = 'Not Going'" ng-disabled="checkRsv($index, n)" 
                        class="md-primary md-raised md-warn" 
                        ng-click="changeMyRsv($index, n)">{{n}}</md-button>
            <md-button class="md-icon-button md-primary" aria-label="Edit"
                        ng-click="delRsv($index)">
               <md-icon md-svg-icon="Icons/delete.svg"></md-icon>
            </md-button>
    </md-list>
</md-content>
