<md-dialog aria-label="Edit Event" style="width:1000px">
   <form ng-cloak>
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{dlgTitle}}</h2>
      </div>
      </md-toolbar>

      <br/>
      
      <md-dialog-content class="md-dialog-content">
      <md-input-container class="md-block" ng-show="'{{dlgTitle}}' === 'New Event'">
      <label>Title</label>
        <input type="text" class="form-control" 
          ng-model="evt.title" required>
      </md-input-container>
         
      <md-input-container class="md-block" ng-show="'{{dlgTitle}}'  === 'Edit Event'">
      <label>Title</label>
        <input type="text" class="form-control" 
          ng-model="evt.title">
      </md-input-container> 

      <md-input-container class="md-block">
        <label>Description</label>
        <textarea type="text" class="form-control" 
                  ng-model="evt.descr"></textarea>
      </md-input-container> 
         
      <md-input-container class="md-block" ng-show="'{{dlgTitle}}' === 'New Event'">
        <label>Address</label>
        <input type="text" class="form-control" 
                  ng-model="evt.addr" required>
      </md-input-container>
         
      <md-input-container class="md-block" ng-show="'{{dlgTitle}}' === 'Edit Event'">
        <label>Address</label>
        <input type="text" class="form-control" 
                  ng-model="evt.addr">
      </md-input-container> 
         
      <md-input-container class="md-block">
        <label>City</label>
        <input type="text" class="form-control" 
          ng-model="evt.city">
      </md-input-container> 

      <md-input-container class="md-block">
         <label>State</label>
         <md-select ng-model="evt.state">
           <md-option ng-repeat="state in states" value="{{state.abbrev}}">
             {{state.abbrev}}
           </md-option>
         </md-select>
      </md-input-container>

      <br/>
         
      <md-input-container class="md-block">
        <label>Zip</label>
        <input type="text" class="form-control" 
         ng-model="evt.zip" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
      </md-input-container>

      <md-input-container ng-show="'{{dlgTitle}}' === 'New Event'">
         <label>Start Date</label>
         <md-datepicker 
            ng-model="date2" md-placeholder="MM/DD/YYYY" required>
         </md-datepicker>
      </md-input-container>
         
      <md-input-container ng-show="'{{dlgTitle}}' === 'Edit Event'">
         <label>End Date</label>
         <md-datepicker 
            ng-model="date2" md-placeholder="MM/DD/YYYY">
         </md-datepicker>
      </md-input-container>

     <div uib-timepicker ng-model="time" ng-change="changed()" 
     hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" required></div>
     
     <md-input-container class="md-block">
        <div layout="row" layout-align="left center">
         <md-checkbox name="tos" ng-model="evt.private">
            Make this event private?
         </md-checkbox>
        </div>
     </md-input-container>
        
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-warn md-raised" ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="submit(evt.title)"
      ng-disabled="(!evt.title || !evt.addr || !evt.date) && '{{dlgTitle}}' === 'New Event'">
        Submit
      </md-button>
    </md-dialog-actions>
   </md-dialog-content>
  </form>
</md-dialog>

<!--<div class="modal-header">
   <h3 class="modal-title">{{dlgTitle}}</h3>
</div>
<div class = "modal-body">
   <form>

      <md-input-container class="md-block">
        <label>Event Title</label>
        <input type="text" class="form-control" 
          placeholder="Title" ng-model="title" required="">
      </md-input-container>   

      <md-input-container class="md-block">
        <label>City</label>
        <input type="text" class="form-control" 
          placeholder="City" ng-model="city">
      </md-input-container> 

      <md-input-container class="md-block">
        <label>State</label>
        <input type="text" class="form-control" 
          placeholder="State" ng-model="state">
      </md-input-container> 

      <md-input-container class="md-block">
        <label>Zip</label>
        <input type="text" class="form-control" 
          placeholder="Zipcode" ng-model="zipcode">
      </md-input-container> 

      <md-input-container class="md-block">
        <label>Address</label>
        <input type="text" class="form-control" 
          placeholder="Address" ng-model="addr" required="">
      </md-input-container> 

      <md-input-container class="md-block">
        <label>Description</label>
        <input type="text" class="form-control" 
          placeholder="Description" ng-model="descr">
      </md-input-container> 

      <md-datepicker 
        ng-model="filter.date" 
        md-placeholder="Start date"
        required>
      </md-datepicker>
      
      <div class="checkbox">
        <label>
           <input type="checkbox" ng-model="private">
            Make this event private?
        </label>
     </div>

   </form>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-primary" 
    ng-disabled="!title || !addr || !filter.date"
    ng-click="$close(1)">OK</button>
   <button type="button" class="btn btn-warning" 
    ng-click="$dismiss()">Cancel</button>
</div>-->
