<md-toolbar layout="row" class="md-accent md-hue-3">
<div class="md-toolbar-tools">
   <span>{{events[0].title}}</span>
</div>
</md-toolbar>

<md-content flex layout-padding>
   <h4 class="md-dense" style="font-style: italic">
       {{events[0].date | date:'medium'}} @ {{events[0].addr}} {{events[0].zip}}
   </h4>
   <!--
   <h2 class="md-dense" style="font-weight:200">
       Event Description
   </h2>
   -->
   
   <p>{{events[0].descr}}</p>

   <md-divider ng-if="events[0].descr"></md-divider>
   
   <div layout="row" layout-align="center center">
      <md-button ng-init="g = 'Going'" ng-disabled="checkRsv(g)" class="md-primary md-raised" ng-click="changeMyRsv(g)">{{g}}</md-button>
      <md-button ng-init="m = 'Maybe'" ng-disabled="checkRsv(m)" class="md-secondary md-raised" ng-click="changeMyRsv(m)">{{m}}</md-button>
      <md-button ng-init="n = 'Not Going'" ng-disabled="checkRsv(n)" class="md-primary md-raised md-warn" ng-click="changeMyRsv(n)">{{n}}</md-button>
   </div>
</md-content>

<!-- List reservations -->
<md-toolbar layout="row" class="md-primary">
<div class="md-toolbar-tools">
   <span>Reservations</span>
</div>
</md-toolbar>

<md-content>
   <md-list class="md-dense" flex>
      <md-list-item class="md-3-line" ng-repeat="rsv in rsvs" 
                    style="padding-left:5px">
            <div class="md-list-item-text" layout="row" 
                 layout-align="left center">
               {{rsv.firstName}} {{rsv.lastName}} 
               <md-chips>
                  <md-chip>{{rsv.status}}</md-chip>
               </md-chips>
               <span flex>
                  
               </span>
               <md-button class="md-icon-button md-primary" aria-label="Delete"
                           ng-click="delRsv($index)"
                           ng-if="events[0].orgId === user.id">
                  <md-icon md-svg-icon="Icons/delete.svg"></md-icon>
               </md-button>
            </div>
         <md-divider></md-divider>
      </md-list-item>   
      <md-divider></md-divider>
    </md-list>
</md-content>

<!--<h2>{{evtTitle}}</h2>
<div class="list-group">
   <div class="list-group-item" ng-repeat="evt in events">
      <cnv-detail evt="evt"></cnv-detail>
   </div>
</div>

<div style="padding-left: 5px; padding-right: 5px">
   <textarea type="text"
             style="width:100%; 
                    height:200px;"
       ng-model="newEvent"></textarea>

   <button class="btn btn-primary" 
           type="button" 
           style="margin-top:10px;" 
           ng-click="createEvent()">New Event
   </button>
</div> -->
