<md-toolbar class="md-hue-2">
   <div class="md-toolbar-tools">
      <span>Events</span>
      <span flex></span>
      
      <md-button class="md-accent md-raised" 
      ng-click="newEvt()">
       New Event
      </md-button>
   </div>
</md-toolbar>


<!-- Filter options -->
<div layout="row" layout-align="center center">    
   <md-datepicker 
      ng-model="filter.startDate" 
      md-placeholder="Start date">
   </md-datepicker>
   <md-datepicker 
      ng-model="filter.endDate" 
      md-placeholder="End date">
   </md-datepicker>
   
   <md-input-container class="md-inline">
      <label>Zip Code</label>
      <input name="zipCode" ng-model="filter.zip"
         ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
   </md-input-container>

   <md-input-container>
      <label>Organizer Email</label>
         <input type="email" ng-model="filter.email">
   </md-input-container>

   <md-button class="md-primary md-raised" ng-click="filterEvt()" 
   ng-disabled="!filter.startDate && !filter.endDate && 
   !filter.zip && !filter.email">Filter</md-button>
</div>

<!-- List events -->
<md-content>
   <md-list flex>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-repeat="evt in evts" 
                    style="padding-left:5px" href="#" ui-sref="evtDetail({evtId: {{evt.id}}})">
            <div class="md-list-item-text" layout="column">
               <span flex></span>
               <h3 style="font-weight: bold">{{evt.title}}</h3>
               <h3 style="font-style: italic">
                  {{evt.date | date:'medium'}} @ {{evt.addr}} {{evt.zip}}
               </h3>
               <p>{{evt.descr}}</p>
               <md-divider></md-divider>
            </div>
            <span flex></span>
            <md-button class="md-icon-button md-primary" inline aria-label="Edit"
                       ng-click="editEvt($index)" 
                       ng-show="evt.orgId === user.id">
               <md-icon md-svg-icon="Icons/edit.svg"></md-icon>
            </md-button>
            
            <md-button class="md-icon-button md-primary" aria-label="Edit"
                       ng-click="delEvt($index)"
                       ng-show="evt.orgId === user.id">
               <md-icon md-svg-icon="Icons/delete.svg"></md-icon>
            </md-button>
      </md-list-item>
    </md-list>
</md-content>
