<h1 style="margin-left:7px; font-family:'Roboto', san-serif;">Events</h1>

<md-button class="md-primary md-raised" ng-click="newEvt()">New Event</md-button>
<md-divider></md-divider>
<span flex>      
   <md-datepicker ng-model="ctrl.myDate" md-placeholder="Start date"></md-datepicker>
   <md-datepicker ng-model="ctrl.myDate" md-placeholder="End date"></md-datepicker>
   
   <md-input-container class="md-inline">
      <label>Zip Code</label>
      <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
         ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

      <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
         <div ng-message="required" class="my-message">
            You must supply a postal code.
         </div>
         <div ng-message="pattern" class="my-message">
          That doesn't look like a valid postal code.
         </div>
         <div ng-message="md-maxlength" class="my-message">
            Don't use the long version silly...we don't need to be that specific...
         </div>
      </div>
   </md-input-container>

   <md-input-container>
      <label>Organizer Email</label>
         <input ng-model="user.email">
   </md-input-container>

   <md-button class="md-primary md-raised" 
   ng-click="newEvt()">Filter</md-button>
</span>

<md-content>
   <md-list flex>
      <md-divider></md-divider>
         <md-list-item class="md-3-line" ng-repeat="item in evts" ui-sref="evtDetail">
            <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>
               <div class="md-list-item-text" layout="column">
                  <span flex></span>
                  <h3 style="font-weight: bold">{{item.evtName}}</h3>
                  <h3 style="font-style: italic">
                     {{item.date}}, {{item.time}} @ {{item.location}}
                  </h3>
                  <p>{{item.evtDesc}}</p>
                  <md-divider></md-divider>
         </md-list-item>   
               </div>
         <span>
            <md-button class="md-icon-button md-primary" aria-label="Edit">
               <md-icon md-svg-icon="Icons/edit.svg"></md-icon>
            </md-button>
            
            <md-button class="md-icon-button md-primary" aria-label="Edit">
               <md-icon md-svg-icon="Icons/delete.svg"></md-icon>
            </md-button>
         </span>
    </md-list>
</md-content>

<!-- <h2>Events</h2>
<div class="list-group">
   <div class="list-group-item" ng-repeat="evt in evts">
      <cnv-summary to-summarize="evt" edit-evt="editEvt($index)"
      del-evt="delEvt($index)" check-usr="evt.ownerId === user.id">
      </cnv-summary>
   </div>
</div>

<button class="btn btn-primary" 
        type="button" 
        style="margin-top:5px" 
        ng-click="newEvent()">New Event
</button> -->
