<md-dialog aria-label="Invite to Event" style="width:1000px">
   <form ng-cloak>
      <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Invite to Event</h2>
      </div>
      </md-toolbar>

      <br/>
      
      <md-dialog-content class="md-dialog-content">
      <md-input-container class="md-block">
      <label>Email</label>
        <input type="email" class="form-control" 
          ng-model="email" required>
      </md-input-container>   

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-warn md-raised" ng-click="cancel()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" click="submit('useful')"
       ng-disabled="!email">
        Send Invite
      </md-button>
    </md-dialog-actions>
   </md-dialog-content>
  </form>
</md-dialog>